[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CKAT"]
	path = CKAT
	url = https://github.com/cran/CKAT
[submodule "cwot"]
	path = cwot
	url = https://github.com/cran/cwot
[submodule "debest"]
	path = debest
	url = https://github.com/cran/debest
