[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CauchyCP"]
	path = CauchyCP
	url = https://github.com/cran/CauchyCP
[submodule "CKAT"]
	path = CKAT
	url = https://github.com/cran/CKAT
[submodule "cwot"]
	path = cwot
	url = https://github.com/cran/cwot
[submodule "GFisher"]
	path = GFisher
	url = https://github.com/cran/GFisher
[submodule "Qapprox"]
	path = Qapprox
	url = https://github.com/cran/Qapprox
[submodule "SetTest"]
	path = SetTest
	url = https://github.com/cran/SetTest
[submodule "TFisher"]
	path = TFisher
	url = https://github.com/cran/TFisher
